openapi: 3.0.0
info:
  title: Artist Scraper
  description: Scrape my watchlist and push to database.
  version: "0.0.1"
servers:
  - url: /scrapy
    description: Main server url
paths:
  /ping_site:
    get:
      summary: Returns a side response code.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth Failed
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.ping_site
  /ping_user:
    get:
      summary: Returns a side response code.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth Failed
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.ping_user
  /users:
    get:
      summary: Returns a list of users.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth Failed
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.get_users
  /scrape_user:
    post:
      summary: Returns array of scraped user data
      description: ..
      parameters:
        - in: query
          name: username
          schema:
            type: string
          required: true
      responses:
        '200':
          description: A JSON array of data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scrape'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.scrape_user
  /update_users:
    post:
      summary: Updates artists list.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth Failed
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.update_users
  /update_social:
    post:
      summary: Updates artists social list.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth Failed
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.update_social
  /send_s3:
    post:
      summary: Send csv to S3.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth Failed
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      operationId: connectors.send_s3
  /update_stats:
    post:
      summary: update user stats
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
      operationId: connectors.update_stats

components:
  schemas:
    Error:
      properties:
        code:
          description: A code for the specific error.  Used to help in determining
            possible root causes of an error.
          type: string
        message:
          description: A message providing additional detail for an error.
          type: string
      type: object
    Message:
      example:
        level: INFO
        message: message
      properties:
        level:
          description: A level for the specific message.
          enum:
            - INFO
            - WARN
            - DEBUG
          type: string
        message:
          description: A message providing additional detail for message.
          type: string
      type: object
    KeyValue:
      description: A simple key-value pair.
      example:
        value: value
        key: key
      properties:
        key:
          description: A unique key for this pair.
          type: string
        value:
          description: A value for this pair.
          type: string
      required:
        - key
        - value
      type: object
    Scrape:
      properties:
        message:
          description: JSON block
          type: array
    Status:
      properties:
        code:
          description: response code
          type: string
        message:
          description: response message
          type: string
